<div [ngSwitch]="type">
    <button *ngSwitchCase='"signIn"' id="signIn">
        Sign In
    </button>
    <button *ngSwitchCase='"signUp"' id="signUp" [routerLink]="['/signup']">
        Sign Up
    </button>
    <button *ngSwitchCase='"continue"' id="continue">
        Continue
    </button>
    <button *ngSwitchCase='"leftArrow"' id="leftArrow">
        <img src="../../../assets/arrow-left.png" alt="">
    </button>
    <button *ngSwitchCase='"rightArrow"' id="rightArrow">
        <img src="../../../assets/arrow-right.png" alt="">
    </button>
</div>