<div class="container-fluid p-0" id="img">
    <div class="col-12 p-0" id="btn_box">
        <div class="photo">
            <div class="img">
                <img [src]="list[currentImageIndex].img">
            </div>
            <br>
            <button (click)="prevImage()" id="leftArrow">
          <img src="../../../assets/arrow-left.png" alt="Anterior">
        </button>
            <button (click)="nextImage()" id="rightArrow">
          <img src="../../../assets/arrow-right.png" alt="Siguiente">
        </button>
        </div>
    </div>
</div>