<header class="p-0">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler ms-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand d-none d-lg-block" href="#">
            <img src="../../../assets/logo.png" height="100" alt="MDB Logo" loading="lazy" />
        </a>

        <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
            <div id="line" class="ms-3 me-3"></div>
            <ul class="navbar-nav d-none d-lg-flex align-items-center">
                <li class="nav-item mb-0">
                    <h3>{{moduleTitle}} </h3>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto d-none d-lg-flex align-items-center">
                <li class="nav-item mb-0">
                    <img src="../../../assets/plus-icon.png" class="ms-3 me-3" alt="" id="plusicon" [routerLink]="['/newAssociated']">
                </li>
                <div id="line" class="ms-3 me-3"></div>
                <li class="nav-item mb-0">
                    <img src="../../../assets/dashboard.png" class="ms-3 me-3" alt="" class="topicon" [routerLink]="['/dashboard']">
                </li>
                <li class="nav-item mb-0">
                    <img src="../../../assets/folder.png" class="ms-3 me-3" alt="" class="topicon" [routerLink]="['/files']">
                </li>
                <li class="nav-item mb-0">
                    <img src="../../assets/calendar.png" class="ms-3 me-3" alt="" class="topicon" [routerLink]="['/dashboard']">
                </li>
            </ul>
            <div id="line" class="ms-3 me-3"></div>
        </div>
        <div class="d-flex align-items-center me-3">
            <img src="https://avatars.githubusercontent.com/u/71311623?v=4" class="rounded-circle me-3" width="60" height="60" alt="Black and White Portrait of a Man" loading="lazy" />
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mb-0">
                    <h4> {{userName}} </h4>
                    <a> {{job}} </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-brand">
            <a href="#" data-bs-dismiss="offcanvas"><img src="../../../assets/logo.png" height="100" alt="MDB Logo" loading="lazy" /></a>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="fs-4 bi-house">
                            <img src="../../assets/dashboard.png" alt="calendarIcon" id="icon" />
                        </i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/associated']">
                        <i class="fs-4 bi-house">
                            <img src="../../assets/partners.png" alt="calendarIcon" id="icon" />
                        </i> <span class="ms-1 d-none d-sm-inline">Associated</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/activities']">
                        <i class="fs-4 bi-speedometer2">
                            <img src="../../assets/activities.png" alt="calendarIcon" id="icon" />
                        </i> <span class="ms-1 d-none d-sm-inline">Activities</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="fs-4 bi-table">
                            <img src="../../assets/folder.png" alt="calendarIcon" id="icon" />
                        </i> <span class="ms-1 d-none d-sm-inline">Files</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>