<app-header [moduleTitle]="moduleTitle"></app-header>
<div class="container-fluid">
    <div class="row me-0">
        <div class="col-2 d-none d-lg-block ps-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 p-0">
            <div class="container-fluid">
                <div class="row pb-3">
                    <h3>New Associated</h3>
                </div>
                <div class="row pb-3">
                    <div class="col-9">
                        <form  (ngSubmit)="onSubmit()" method="post" action="#" >
                            <div class="mb-3">
                                <label for="Title" class="form-label">Título</label>
                                <input [(ngModel)]="Title" type="text" class="form-control" id="Title">
                              </div>
                            <div class="mb-3">
                              <label for="Author" class="form-label">Autor</label>
                              <select [(ngModel)]="Author" class="form-select" id="Author">
                                <option [value]="item.EMAIL" *ngFor="let item of lista">{{item.NAME}}</option>
                              </select>
                            </div>
                            <div class="mb-3">
                                <label for="Desc" class="form-label">Comentario</label>
                                <!-- <input [(ngModel)]="Desc" type="text" class="form-control" id="Desc"> -->
                                <textarea [(ngModel)]="Desc" id="Desc" cols="30" rows="10" class="form-control"></textarea>
                              </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>