<app-header [moduleTitle]="moduleTitle"></app-header>
<div class="container-fluid">
    <div class="row me-0">
        <div class="col-2 d-none d-lg-block ps-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 p-0">
            <div class="container-fluid p-0" id="main">
                <div class="row p-0">
                    <div class="col-12 p-0">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-5" id="col-photo">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12" id="wrapper">
                                                <div id="imagen" style="background-image: url({{photo}});"></div>
                                            </div>
                                            <app-activities-card [type]="'cardLatestActivity'" [emoji]="'🎉'" [title]="'Latest activities'" [activityTitle]="'Memory Workshop'" [activityDate]="'Monday 15  Jan 2023'"></app-activities-card>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12 d-flex">
                                                <h2>{{name}}</h2>
                                                <app-button class="ms-3" [type]="'edit'"></app-button>
                                                <app-button class="ms-3" [type]="'delete'"></app-button>
                                            </div>
                                            <div class="col-12 mt-4">
                                                <div class="container-fluid">
                                                    <div class="row mb-3">
                                                        <div class="col-6">
                                                            <h5>Phone 📞</h5>
                                                            <p>{{phone}} </p>
                                                        </div>
                                                        <div class="col-6">
                                                            <h5>Mail ✉️</h5>
                                                            <p>{{mail}} </p>
                                                        </div>
                                                    </div>
                                                    <div class="row  mb-3">
                                                        <div class="col-6">
                                                            <h5>Birth Date 🎈</h5>
                                                            <p>{{birthDate}} </p>
                                                        </div>
                                                        <div class="col-6">
                                                            <h5>Postal Code 📮</h5>
                                                            <p>{{postalCode}}</p>
                                                            <!-- <h5>DNI 💳</h5>
                                                            <p>{{dni}} </p> -->
                                                        </div>
                                                    </div>
                                                    <div class="row  mb-3">
                                                        <div class="col-6">
                                                            <h5>Discharge Date 🗳️</h5>
                                                            <p>{{dischargeDate}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <h5>Location 🧭</h5>
                                                            <p>{{location}} </p>
                                                        </div>
                                                    </div>
                                                    <div class="row  mb-3">
                                                        <div class="col-6">
                                                            <h5>Province 🗺️</h5>
                                                            <p>{{province}}</p>
                                                        </div>
                                                        <div class="col-6">
                                                            <h5>Disable Type 🦼</h5>
                                                            <p>{{disableType}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <h5>Disable Grade 🦽</h5>
                                                            <p>{{disableDeg}}</p>
                                                        </div>
                                                        <!-- <div class="col-6">
                                                            <h5>Disable Type 🦼</h5>
                                                            <p>{{disableType}}</p>
                                                        </div> -->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>