<app-header [moduleTitle]="moduleTitle"></app-header>
<div class="container-fluid">
    <div class="row me-0">
        <div class="col-2 d-none d-lg-block ps-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 p-0">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12" id="main">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <app-input [type]="'searchInput'"></app-input>
                                </div>
                                <div class="col-12 mt-4">
                                    <h2>Showing <span>{{activitiesLength}}</span> Activities</h2>
                                </div>
                                <div class="col-12 p-0 mt-4">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <h2 class="h2 text-center">{{col1}}</h2>
                                                <div id="line" style="border-color: #9A62A635;"></div>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'Mistakes most events make'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'An introduction to events'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'My goal for events and how I will achieve it'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'Emerging event trends in the last few months'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'How to make an event step by step'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'If I had done this before about events, I would not have been wrong.'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'Advantages of (being/having/doing) events on a daily basis'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🎉'" [title]="'5 Event Museums you must visit (free/under 20 euros)'"></app-activities-card>
                                            </div>
                                            <div class="col-lg-4">
                                                <h2 class="h2 text-center">{{col2}}</h2>
                                                <div id="line" style="border-color: #4CAF5035;"></div>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Marlene session'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Maria session'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Paula session'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Elysia session'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Malakia session'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Lucia session'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Iris session'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'🏡'" [title]="'Sydney session'"></app-activities-card>
                                            </div>
                                            <div class="col-lg-4">
                                                <h2 class="h2 text-center">{{col3}}</h2>
                                                <div id="line" style="border-color: #d4347435;"></div>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'Memory workshop'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'Drawing workshop'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'Maths workshop'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'Music workshop'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'Games workshop'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'Science workshop'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'Language workshop'"></app-activities-card>
                                                <app-activities-card [type]="'cardActivity'" [emoji]="'⚙️'" [title]="'History workshop'"></app-activities-card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>