<app-header [moduleTitle]="moduleTitle"></app-header>
<div class="container-fluid">
    <div class="row me-0">
        <div class="col-2 d-none d-lg-block ps-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 p-0">
            <div class="container-fluid p-0" id="main">
                <div class="row p-0">
                    <div class="col-12 p-0">

                    </div>
                    <!-- <div class="col-12 p-0" id="debugger">
                        a
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>