<div id="card" (click)="selectionCard">
    <div class="wrapper">
        <div class="circle">
            <div class="status"></div>
            <div class="wrapper_emoji">
                <p>{{emoji}}</p>
            </div>
        </div>
    </div>

    <h3>{{title}} </h3>
    <p> {{description}} </p>
    <!-- <div id="members">
        <div id="member_circle">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/928179527045332677/1130B6058CA9AB60BB5FFC42E1377A4C6871337B/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true" alt="">
        </div>
    </div> -->
</div>