<div *ngSwitch="type">
    <div *ngSwitchCase="'cardActivity'" class="col-12 mt-5" id="card" (click)="selectionCard">
        <div class="wrapper">
            <div class="circle">
                <div class="status"></div>
                <div class="wrapper_emoji">
                    <p>{{emoji}}</p>
                </div>
            </div>
        </div>

        <h3>{{title}} </h3>
        <p> {{description}} </p>
        <div id="members">
            <div id="member_circle" style="background-image: url({{memberImage}});"></div>
            <div id="member_circle" style="background-image: url(https://images.pexels.com/photos/3732652/pexels-photo-3732652.jpeg?auto=compress&cs=tinysrgb&w=600);">
            </div>
            <div id="member_circle" style="background-image: url(https://images.pexels.com/photos/13947143/pexels-photo-13947143.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);">
            </div>
            <div class="other_members">
                <p>+3</p>
            </div>
        </div>
    </div>
</div>