#card {
    background: #F6F4E8;
    box-shadow: -5px 5px 10px rgba(236, 234, 223, 0.2), 5px -5px 10px rgba(236, 234, 223, 0.2), -5px -5px 10px rgba(255, 254, 241, 0.9), 5px 5px 13px rgba(236, 234, 223, 0.9), inset 1px 1px 2px rgba(255, 254, 241, 0.3), inset -1px -1px 2px rgba(236, 234, 223, 0.5);
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 10px;
    padding: 2rem;
}

#card:focus {
    border: 2px solid purple;
    outline: none;
}

.wrapper {
    padding-bottom: 5rem;
    height: 30%;
}

.circle {
    height: 4rem;
    width: 4rem;
    background: rgba(154, 98, 166, 0.6);
    opacity: 0.9;
    border-radius: 100%;
}

.wrapper_emoji {
    display: grid;
    place-content: center;
}

.wrapper_emoji p {
    font-size: 100%;
}

.status {
    height: 30%;
    width: 30%;
    background: rgba(76, 175, 80);
    opacity: 0.6;
    border-radius: 100%;
}

#members {
    height: 30%;
    display: flex;
    padding-left: 1rem;
    align-items: center;
}

#member_circle {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

#member_circle img {
    height: 100%;
    border-radius: 100%;
}

.other_members {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background: #d9d9d9;
    text-align: center;
}

.other_members p {
    margin-top: 25%;
    text-align: center;
}

#icon {
    height: 4rem;
    width: 4rem;
    background: rgba(154, 98, 166, 0.6);
    opacity: 0.9;
}

#cardLatestActivity {
    background: #F6F4E8;
    box-shadow: -5px 5px 10px rgba(236, 234, 223, 0.2), 5px -5px 10px rgba(236, 234, 223, 0.2), -5px -5px 10px rgba(255, 254, 241, 0.9), 5px 5px 13px rgba(236, 234, 223, 0.9), inset 1px 1px 2px rgba(255, 254, 241, 0.3), inset -1px -1px 2px rgba(236, 234, 223, 0.5);
    border-radius: 5px;
    padding: 0.5rem;
    border-radius: 10px;
    padding: 2rem;
}

#cardLatestActivity_header {
    height: 10rem;
    width: 100%;
}

#cardLatestActivity_body {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-direction: row;
}

#list-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.category {
    height: 4rem;
    width: 4rem;
    background-color: #D4347436;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

#list-item .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}