<table>
    <thead>
        <tr id="handler">
            <th colspan="2">
                <app-input [type]="'tableSearchInput'"></app-input>
            </th>
            <th colspan="2">Showing <span> {{ associateLength }} </span> results</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Adress</th>
            <th>Discharge Date</th>
        </tr>
        <ng-container *ngFor="let item of Array; index as i;">
            <tr class="associated">
                <ng-container *ngFor="let item2 of item;">
                    <td [routerLink]="['/detail',IDs[i]]" >{{item2}}</td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>
<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->