<table>
    <thead>
        <tr id="handler">
            <app-input [type]="'searchInput'"></app-input>
            <th colspan="1">Showing 562 results</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Adress</th>
            <th>Discharge Date</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <td>3</td>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>