<div [ngSwitch]="type" id="box_input">
    <input *ngSwitchCase="'email'" id="email" type="email" placeholder="Email">
    <input *ngSwitchCase="'password'" id="password" type="password" placeholder="Password">
    <input *ngSwitchCase="'confirmPassword'" id="confirmPassword" type="text" placeholder="Confirm Password">
    <input *ngSwitchCase="'name'" id="name" type="text" placeholder="Full name">
    <div *ngSwitchCase="'searchInput'" id="searchIcon">
        <img src="../../assets/search.png" alt="searchIcon" />
        <input id="searchInput" type="text" placeholder="Search Activity">
    </div>
    <div *ngSwitchCase="'tableSearchInput'" id="searchTable">
        <img src="../../assets/search.png" alt="searchIcon" />
        <input id="tableText" type="text" placeholder="Search Activity">
    </div>

</div>