<div class="container-fluid" id="login">
    <div class="row">
        <div class="col-xl-5 col-md-12 col-sm-12 col-xs-12" id="info">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12" id="header_info">
                        <img src="../../../assets/logo.png" alt="logo" id="logo">
                        <h1 class="display-3">Welcome back</h1>
                        <p>Good to see you back 👋 </p>
                    </div>
                    <div class="col-12 p-0" id="body_info">
                        <div class="container-fluid p-0" id="input_box">
                            <div class="row">
                                <div class="col-12">
                                    <app-input [type]="emailInput"></app-input>
                                    <app-input [type]="passwordInput"></app-input>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid p-0" id="btn_box">
                            <div class="row p-0">
                                <div class="col-12 p-0">
                                    <app-button [type]="signInBtn" [label]="'Sign In'"></app-button>
                                    <div id="separator">
                                        <hr id="line">
                                        <h3>OR</h3>
                                        <hr id="line">
                                    </div>
                                    <app-button [type]="signUpBtn" [label]="'Sign Up'"></app-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-xs-12" id="carrousel">
            <div id="carrousel_img" style="background-image: url({{images[counter].img}});">
                <div id="btn_box">
                    <app-button (click)="previous()" [type]="'leftArrow'"></app-button>
                    <app-button (click)="next()" [type]="'rightArrow'"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>