<div class="container">
    <nav>
        <a href="."><img src="../../../assets/icon-dashboard.png" alt="Dashboard">Dashboard></a>
        <a href="."><img src="../../../assets/icon-people.png" alt="Partners">Partners</a>
        <a href="."><img src="../../../assets/icon-activities.png" alt="Activities">Activities</a>
        <a href="."><img src="../../../assets/icon-files.png" alt="Files">Files</a>
        <a href="."><img src="../../../assets/icon-calendar.png" alt="Calendar">Calendar</a>
    </nav>
</div>