#icon {
    height: 40px;
    width: 40px;
}

filter: invert(55%) sepia(39%) saturate(6339%) hue-rotate(162deg) brightness(96%) contrast(101%);
filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(300deg) saturate(200%);
filter: invert(54%) sepia(82%) saturate(6361%) hue-rotate(316deg) brightness(87%) contrast(90%);