#icon {
    height: 40px;
    width: 40px;
}
li:hover{
    border-left: 3px solid pink;
}

li:hover i{
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(300deg) saturate(200%);
}

a{
    color: black;
}

li:hover a{
    transition: none;
    color: pink;
}

li{
    padding-left: 1em;
    margin-bottom: 2em;
}