<app-header [moduleTitle]="moduleTitle"></app-header>
<div class="container-fluid">
    <div class="row me-0">
        <div class="col-2 d-none d-lg-block ps-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10 p-0">
            <div class="container-fluid">
                <div class="row pb-3 d-flex">
                    <div class="col-8 p-0">
                        <h4>{{Date}}</h4>
                    </div>
                    <div class="col-2 p-0">
                        <!-- <button (click)="nextRemark()">Previous</button> -->
                        <!-- <app-button [style]="'rightArrow'"></app-button> -->
                        <app-button (click)="prevRemark()" [type]="'leftArrow'"></app-button>
                    </div>
                    <div class="col-2 p-0">
                        <app-button (click)="nextRemark()" [type]="'rightArrow'"></app-button>
                    </div>
                </div>
                <div class="row pb-3" style="height: 100vh;">
                    <div class="col-8 p-0">
                        <div class="container-fluid">
                            <div class="row p-3 p-3">
                                <div class="d-flex align-middle justify-content-center" style="flex-direction: column; text-align: center;">
                                    <h1>{{Title}}</h1>
                                    <h4>{{Author}}</h4>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="d-flex align-middle justify-content-center">
                                    <p class="m-0 p-3">{{Text}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 p-3" id="quickActions">
                        <div class="container-fluid">
                            <div class="row p-3 p-3">
                                <div class="d-flex align-middle justify-content-center" style="flex-direction: column; text-align: center;">
                                    <h2>Quick Actions</h2>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="d-flex align-middle justify-content-center" style="flex-direction: column; text-align: center;">
                                    <h4 [routerLink]="['/remarks/new']">New Remark</h4>
                                    <!-- <h4>Edit Remark</h4> -->
                                    <h4 (click)="delete(id)">Delete Remark</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>